Yeast\ Resources/Histogram\ Data/*.csv*
*.tar.gz
data/*
**/*_Net_*
!**/LocalizationData/*Net*
Yeast\ Resourcse/Pairwise/Spell/Test/*
Yeast\ Resources/Pairwise/Spell/AllGO_Original_Parameter/**/*
Yeast\ Resources/Pairwise/Spell/AllGO_Original_Sigmoid/**/*
Yeast\ Resources/Pairwise/Spell/AllGO_Original_ParaSearch/**/*
Yeast\ Resources/Pairwise/Spell/Dropout/**
Yeast\ Resources/Pairwise/Spell/DropoutRedo/**
Yeast\ Resources/Pairwise/Spell/RandomInputs_original/**/*
Yeast\ Resources/Yeast\ Graphs/**
Yeast\ Resources/Pairwise/Spell/Overfit/*.pth
Yeast\ Resources/Pairwise/Spell/Overfit_LargeNet/*
Yeast\ Resources/GraphResults/*
Yeast\ Resources/GO_Data/
!Yeast\ Resources/GraphResults/**/*GeneRanking*
negDist.csv
scoresLst.csv
negDist_nonCoAnno.csv
AllPairs.dat
AllScoreMemMap.dat
*Scores*
Yeast\ Resources/Pairwise/Spell/MassiveNetwork/*.pth
**/*.dat
Yeast_Resources/Pairwise/Spell/AllGO_Original_Struct/**
OGRID-ORGANISM-Saccharomyces_cerevisiae_S288c-4.4.222.tab.txt
BIOGRID-ORGANISM-Saccharomyces_cerevisiae_S288c-4.4.222.tab.txt
src/PairwiseYeastNetwork/Pairs_SmallestCommonAncestor.npy

