Yeast\ Resources/Histogram\ Data/*.csv*
*.tar.gz
data/*
**/*_Net_*
Yeast\ Resourcse/Pairwise/Spell/Test/*
Yeast\ Resources/Pairwise/Spell/AllGO_Original_Parameter/**/*
Yeast\ Resources/Pairwise/Spell/AllGO_Original_Sigmoid/**/*
Yeast\ Resources/Pairwise/Spell/AllGO_Original_ParaSearch/**/*
Yeast\ Resources/Pairwise/Spell/Dropout/**
Yeast\ Resources/Pairwise/Spell/DropoutRedo/**
Yeast\ Resources/Yeast\ Graphs/**
Yeast\ Resources/Pairwise/Spell/Overfit/*.pth
Yeast\ Resources/Pairwise/Spell/Overfit_LargeNet/*
Yeast\ Resources/GraphResults/*
negDist.csv
scoresLst.csv
negDist_nonCoAnno.csv
AllPairs.dat
AllScoreMemMap.dat
*Scores*
Yeast\ Resources/Pairwise/Spell/MassiveNetwork/*.pth

Yeast_Resources/Pairwise/Spell/AllGO_Original_Struct/**


